page-pin {
	
  .toolbar-title-md {
        font-size: 40px;
  }

  p { font-size: 40px;
		text-align: center;
		padding-top: 40px;
		padding-bottom: 30px;
 }
 	ion-icon {
    display: inline-block;
    font-size: 0.8em;
}

 input[type="radio"] {
    height: 30px;
    width: 60px;
}
 ion-footer .button-round-md {
        padding: 4rem;
        border: 0;
}
    ion-footer .button-md {
         height: 7rem;
}

   ion-footer .button-outline-md {
         color: #ffffff;
}

    ion-footer {
     background-color: #005792
}

ion-footer ion-icon {
    font-size: 1.2em;
}


}
