page-home {
    .toolbar-title-md {
        font-size: 80px;
	}
  
    .hora {
        font-size: 100px;
        text-align: center;
    }
   .fecha {
        font-size: 70px;
        text-align: center;
    }

    .card-md + ion-card {
    margin-top: 0;
    height: 55%;
    }

    .card-md {
        height: 400px;
        padding-top: 30px;
    }

    .bar-button-md {
        font-size: 4.4rem;
      
    }

}


