page-home {
    .toolbar-title-md {
        font-size: 50px;
	}
  
    .hora {
        font-size: 80px;
        text-align: center;
    }
   .fecha {
        font-size: 50px;
        text-align: center;
    }

    .card-md + ion-card {
    margin-top: 0;
    height: 55%;
    }

    .card-md {
        height: 300px;
        padding-top: 30px;
    }

    .bar-button-md {
        font-size: 3rem;
      
    }
    .entrada{    
       font-size: 40px;
       text-align: center;
       color: darkgreen;
    }

    .salida{    
        font-size: 40px;
        text-align: center;
        color:darkred;
     }

}


