page-home {
    .toolbar-title-md {
        font-size: 80px;
	}
  
    .hora {
        font-size: 100px;
        text-align: center;
    }
   .fecha {
        font-size: 70px;
        text-align: center;
    }

    .card-md + ion-card {
    margin-top: 0;
    height: 55%;
    }

<<<<<<< HEAD
    .tabs-md{
        height: 100px !important;
    }
    @media screen and (min-width: 800px) and (max-width: 1220px)  {
        .toolbar-title-md {
        font-size: 80px;
        margin-bottom: 40px;
      }
   .hora{
         font-size: 12rem;
         text-align: center;
    }
     .fecha{
         font-size: 8rem;
         text-align: center;
     }
   
    }

=======
    .card-md {
        height: 400px;
        padding-top: 30px;
    }

    .bar-button-md {
        font-size: 4.4rem;
      
    }
>>>>>>> 978421da5cfcaed773d0d30d82fa33c40955c918

}


