page-empleado {

      .toolbar-title-md {
        font-size: 40px;
  }
  
  .label-md[stacked] {
    font-size: 2.2rem;
}

  .list-md {
    margin: 100px 0 16px;
}

  .input{
      font-size: 30px;
      text-align: center;
  }

  .item-md {  
    font-size: 3rem;
  }

  .button-md{
        height: 6rem;
        font-size:3rem; 
      }   

 .checkbox-md .checkbox-icon {
  width: 24px;
  height: 24px;
}

.checkbox-md .checkbox-icon {
  border-width: 5px;
}

 
}
