page-verificacion {

  p {
    font-size: 18px;
    text-align: center;
    padding-top: 30px;
    margin-top: 0px;
    padding-bottom: 30px;
  }
  input{
    height: 3rem;
    width: 6rem;
  }
  .row {
    margin: 10px;
  }
  ///////////////////////////////                  TABLE                   ////////////////////////////////////
  @media screen and (min-width: 800px) and (max-width: 1220px)  {
    p { font-size: 40px;
        text-align: center;
        padding-top: 200px;
        padding-bottom: 100px;
     }

      .toolbar-title-md {
        font-size: 60px;
        margin-bottom: 20px;
        
      }
      .button-md{
        height: 8rem;
        font-size:3rem; 
      }      
      input{
        height: 11rem;
        width: 11rem;
        font-size: 40px;
        margin: 13px;
      }
    
  }
 
}
