page-entrada {

    .toolbar-title-md {
        font-size: 40px;
    }
    
    ion-icon {
        font-size: 18em;
        color: seagreen;
    }

    p { font-size: 35px;
		text-align: center;
 }
}
