page-entrada {

    .toolbar-title-md {
        font-size: 40px;
    }
    
    ion-icon {
        font-size: 19em;
        color: seagreen;
    }

    p { font-size: 40px;
		text-align: center;
 }
}
